$desktop: 840px;
$tab: 425px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tab {
    @media (min-width: #{$tab}) {
        @content;
    }
}

.msg {
    &--error {
        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(255, 0, 0, 0.05);
        width: fit-content;

        border-radius: 8px;

        color: rgb(255, 0, 55);

        padding: 4px 8px;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;

        @include tab {
            padding: 6px 12px;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1px;
        }

        @include desktop {
            padding: 8px 16px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    &--warn {
        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(255, 123, 0, 0.05);
        width: fit-content;

        border-radius: 8px;

        color: rgb(255, 102, 0);

        padding: 4px 8px;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;

        @include tab {
            padding: 6px 12px;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1px;
        }

        @include desktop {
            padding: 8px 16px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}