$desktop: 840px;
$tab: 425px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tab {
    @media (min-width: #{$tab}) {
        @content;
    }
}

.progress {
    color: rgb(73, 137, 255);

    // font-size: 10px;
    // font-weight: 300;

    // @include tab {
    //     font-size: 14px;
    //     font-weight: 300;
    // }

    // @include desktop {
    font-size: 16px;
    font-weight: 300;
    // }
}